header {
  position: fixed !important;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  padding: .5em;
  background-color: #fff;
  transition: all 60ms linear; }
  header.state--open {
    background-color: #213C62;
    color: #ECF2FF; }
    header.state--open #site-logo {
      color: #fff; }
    header.state--open #nav .nav--categories--children li:not(.current) {
      opacity: .5; }
  header #masthead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 0 auto 1em;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-bottom: .5em;
    border-bottom: 1px solid #ccc; }
  header #site-logo, header .breadcrumb, header #cart {
    margin: 0; }

.hidden {
  display: none; }

#nav {
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0; }
  #nav.state--open {
    background-color: blue; }
  #nav li.nav--search label {
    display: none; }
  #nav li.nav--search input {
    background-color: #192D50;
    border: 0;
    line-height: 22px;
    padding: .25em;
    width: 100%; }
  #nav .nav--categories ul.nav--categories--children {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 0 auto; }
    #nav .nav--categories ul.nav--categories--children li {
      list-style: none; }
  #nav #sitemap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    max-height: 320px;
    margin: 0; }
    #nav #sitemap li.nav--item {
      font-size: 15px;
      line-height: 145%;
      min-width: 150px;
      width: 50%;
      padding: 0;
      margin: 0; }
      #nav #sitemap li.nav--item label {
        text-transform: uppercase;
        letter-spacing: .0225em;
        margin: 1em 0 .5em; }
        #nav #sitemap li.nav--item label.implicate {
          visibility: hidden;
          margin: 1em 0 .5em; }
    #nav #sitemap ul.nav--item--children {
      list-style: none;
      padding: 0;
      margin: 0; }
      #nav #sitemap ul.nav--item--children li.nav--item {
        list-style: none;
        min-width: 125px; }

#feed {
  margin-top: 6em; }

ul.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%; }
  ul.products li {
    list-style: none;
    width: 100%;
    height: 9em;
    margin: 16px .5em;
    text-align: center;
    border: 1px solid #999;
    font-size: 1em;
    line-height: 125%; }
    ul.products li:nth-child(n+5) {
      width: calc(50% - 1em); }

li, ul, li ul, ul ul {
  list-style-type: none; }
