body {
  font-family: "Montserrat", sans-serif; }

footer, #feed {
  max-width: 769px;
  margin: 0 auto; }

body p, body #site-logo {
  font-family: "EB Garamond", serif;
  font-size: 19px;
  font-size-adjust: 0.5; }

#site-logo {
  letter-spacing: .125em;
  text-transform: uppercase; }

header {
  position: fixed !important;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  padding: 1em;
  background-color: #fff;
  transition: all 10ms linear; }
  header.state--open {
    background-color: #213C62;
    color: #ECF2FF; }
    header.state--open g#basket_icon {
      stroke: #fff; }
    header.state--open #site-logo {
      color: #fff; }
    header.state--open #nav .nav--categories--children li:not(.current) {
      opacity: .5; }
  header #masthead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 0 auto 1em;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-bottom: .5em;
    border-bottom: 1px solid rgba(180, 180, 180, 0.3); }
  header #site-logo, header .breadcrumb, header #cart {
    margin: 0; }
  header #cart {
    line-height: 25px; }
    header #cart::after {
      content: "0 SEK";
      padding-left: 5px; }

.hidden {
  display: none; }

#nav {
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0; }
  #nav.state--open {
    background-color: blue; }
  #nav li.nav--search label {
    display: none; }
  #nav li.nav--search input {
    border: 0;
    line-height: 25px;
    padding: .25em;
    width: 100%;
    background-image: url(../assets/icon-search.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 5px 50%;
    background-size: 24px 24px;
    background-color: #192D50; }
  #nav .nav--categories ul.nav--categories--children {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 0 auto; }
    #nav .nav--categories ul.nav--categories--children li {
      font-size: .9em;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .075em;
      list-style: none; }
  #nav #sitemap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    max-height: 400px;
    margin: 0; }
    #nav #sitemap li.nav--item {
      font-size: 15px;
      line-height: 165%;
      min-width: 150px;
      width: 50%;
      padding: 0;
      margin: 0; }
      #nav #sitemap li.nav--item label {
        text-transform: uppercase;
        letter-spacing: .0225em;
        margin: 1.5em 0 .5em;
        font-size: 1.1em;
        font-weight: 700;
        color: #fff; }
        #nav #sitemap li.nav--item label.implicate {
          visibility: hidden;
          margin: 1em 0 .5em; }
    #nav #sitemap ul.nav--item--children {
      list-style: none;
      padding: 0;
      margin: 0; }
      #nav #sitemap ul.nav--item--children li.nav--item {
        list-style: none;
        min-width: 125px; }

footer.colophon {
  font-size: .8em; }
  footer.colophon .cards, footer.colophon .copyright {
    margin: 0 auto;
    text-align: center;
    display: block;
    font-family: "Montserrat", sans-serif;
    color: #ccc;
    font-size: 85%;
    margin-bottom: 1em; }
  footer.colophon .cards {
    border-top: 1px solid rgba(180, 180, 180, 0.3);
    padding: 2em; }
  footer.colophon .cards-img {
    max-width: 280px; }

#nav-footer li.footer--navigation, #nav-footer li.signup--footer, #nav-footer li.navigation--colophon {
  width: 100%;
  margin: 0 auto;
  padding: 1.5em 2em;
  border-top: 1px solid rgba(180, 180, 180, 0.3); }
  #nav-footer li.footer--navigation ul.nav--footer--children, #nav-footer li.signup--footer ul.nav--footer--children, #nav-footer li.navigation--colophon ul.nav--footer--children {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    #nav-footer li.footer--navigation ul.nav--footer--children .nav--item__langugage, #nav-footer li.signup--footer ul.nav--footer--children .nav--item__langugage, #nav-footer li.navigation--colophon ul.nav--footer--children .nav--item__langugage {
      background-image: url("../assets/lang_se.png");
      background-position: left center;
      background-repeat: no-repeat;
      padding-left: 20px;
      background-position: 0px 40%; }
      #nav-footer li.footer--navigation ul.nav--footer--children .nav--item__langugage::after, #nav-footer li.signup--footer ul.nav--footer--children .nav--item__langugage::after, #nav-footer li.navigation--colophon ul.nav--footer--children .nav--item__langugage::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 5px solid #000;
        margin-top: 7px;
        margin-left: 5px;
        position: absolute; }
    #nav-footer li.footer--navigation ul.nav--footer--children.social, #nav-footer li.signup--footer ul.nav--footer--children.social, #nav-footer li.navigation--colophon ul.nav--footer--children.social {
      padding: 0 6em; }
    #nav-footer li.footer--navigation ul.nav--footer--children .nav--item__social, #nav-footer li.signup--footer ul.nav--footer--children .nav--item__social, #nav-footer li.navigation--colophon ul.nav--footer--children .nav--item__social {
      background-image: url("../assets/social_icons.png");
      background-position: left center;
      background-repeat: no-repeat;
      width: 37px;
      height: 35px;
      background-size: 135px 35px;
      background-position: 0px 0px;
      text-indent: -999em; }
      #nav-footer li.footer--navigation ul.nav--footer--children .nav--item__social.pi, #nav-footer li.signup--footer ul.nav--footer--children .nav--item__social.pi, #nav-footer li.navigation--colophon ul.nav--footer--children .nav--item__social.pi {
        background-position: -49px 0px; }
      #nav-footer li.footer--navigation ul.nav--footer--children .nav--item__social.tw, #nav-footer li.signup--footer ul.nav--footer--children .nav--item__social.tw, #nav-footer li.navigation--colophon ul.nav--footer--children .nav--item__social.tw {
        background-position: -99px 0px; }

#nav-footer li.navigation--colophon ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center; }
  #nav-footer li.navigation--colophon ul li {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    font-size: 90%;
    line-height: 185%; }

#feed {
  margin-top: 6em; }

ul.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  padding: 0 .5em; }
  ul.products li {
    list-style: none;
    width: 100%;
    margin: 1em .5em;
    padding: 0;
    text-align: center;
    font-size: 1em;
    line-height: 125%; }
    ul.products li figure {
      padding: 0;
      margin: 0; }
      ul.products li figure.top-feature {
        margin: 0 -1em; }
        ul.products li figure.top-feature + figcaption {
          margin-bottom: 1em; }
    ul.products li figcaption {
      font-size: 1.25em;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      margin: .75em 0 .25em; }
    ul.products li .price {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-align: left;
      font-size: 1em;
      text-transform: uppercase; }
      ul.products li .price span::before {
        content: "/";
        padding: 0 .35em; }
    ul.products li:nth-child(n+5) {
      width: calc(50% - 1em);
      font-size: 80%; }
      ul.products li:nth-child(n+5) figcaption {
        text-align: left; }

a.button--main {
  padding: .75em 1.25em;
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: .125em;
  background-color: #213C62;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin: 0 auto; }

li, ul, li ul, ul ul {
  list-style-type: none; }

form#signup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 1em; }
  form#signup__form input.email-signup {
    border: 0;
    line-height: 22px;
    padding: .25em;
    width: 100%;
    padding: .2em 1em;
    border: 2px solid #213C62;
    font-family: serif;
    min-width: 190px;
    line-height: 28px; }
  form#signup__form input.submit {
    background-color: #213C62;
    color: #fff;
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    padding: .6em 1em;
    text-transform: uppercase;
    letter-spacing: .125em;
    font-size: 95%; }
