$color--header:               #212121;
$color--header__active:       #ECF2FF;

$color--header--bg:           #fff;
$color--header--bg__active:   #213C62;
$color--form:                 #192D50;

$font-family_headings:        'Montserrat', sans-serif;
$font-family_body:            'EB Garamond', serif;

$borders:                      1px solid rgba(180,180,180, .3);

body {
  font-family: $font-family_headings;
}

footer, #feed {
  max-width: 360px;
  margin: 0 auto;
}

body p, body #site-logo {
  font-family: $font-family_body;
  font-size: 19px;
  font-size-adjust: 0.5;
}

#site-logo{
  letter-spacing: .125em;
  text-transform: uppercase;
}

header{
  position: fixed !important;
  width:100%;
  margin: 0;
  top:0;
  left:0;
  padding:1em;
  background-color:#fff;
  transition: all 10ms linear;
  &.state--open{
    background-color:$color--header--bg__active;
    color: $color--header__active;

    & g#basket_icon{
      stroke: #fff;
    }
    & #site-logo {
      color:#fff;
    }
    & #nav .nav--categories--children li {
      &:not(.current){
        opacity: .5;
      }
    }
  }

  #masthead{
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 1em;
    align-items: baseline;
    padding-bottom:.5em;
    border-bottom: $borders;
  }
  #site-logo, .breadcrumb, #cart{
    margin: 0;
  }

  #cart {
      line-height: 25px;

  &::after{
    content: "0 SEK";
    padding-left: 5px;
  }
  }
}

.hidden{
  display:none;
}

#nav {
  position:relative;
  //top: 55px;
  //left: 0px;
  //z-index: 10;
  width: 100%;
  margin: 0px;
  padding: 0;
  &.state--open{
    background-color: blue;
  }
  li.nav--search{
    label{display:none;}
    input {
      border:0;
      line-height:25px;
      padding:.25em .25em .25em;
      padding-left:  35px !important;
      font-family: $font-family_headings;
      width:100%;
      color: $color--header--bg;
      background-image: url(../assets/icon-search.png);
      background-position: left center;
      background-repeat: no-repeat;
      padding-left: 20px;
      background-position: 5px 50%;
      background-size: 24px 24px;
      background-color:$color--form;

    }
  }
  .nav--categories {
    ul.nav--categories--children{
      display:flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;

      li{
        //padding: 0 1em;
        font-size: .9em;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .075em;
        list-style:none;
      }
    }
  }
  #sitemap{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    max-height:400px;
    margin:0;
    li.nav--item{
       font-size:15px;
      line-height:165% ;
       min-width: 150px;
       width: 50%;
       padding:0;
       margin:0;
      label{
        text-transform:uppercase;
        letter-spacing:.0225em;
        margin:1.5em 0 .5em;
        font-size: 1.1em;
        font-weight: 700;
        color: $color--header--bg;
        &.implicate{
        visibility:hidden;
        margin:1em 0 .5em;
        }

      }
    }
    ul.nav--item--children{
       list-style: none;
       padding: 0;
       margin:0;
      li.nav--item{
          list-style: none;
          min-width: 125px;
      }
    }
  }
}

footer.colophon{
  font-size: .8em;

  .cards, .copyright{
    margin: 0 auto;
    text-align: center;
    display: block;
    font-family: $font-family_headings;
    color: #ccc;
    font-size: 85%;
    margin-bottom: 1em;

  }
  .cards {
      border-top: $borders;
      padding: 2em;
  }
  .cards-img{
    max-width: 280px;
  }
}

#nav-footer {
  li.footer--navigation, li.signup--footer, li.navigation--colophon{
    width: 100%;
    margin: 0 auto;
    padding: 1.5em 2em;
    border-top: $borders;

    ul.nav--footer--children{
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;


      .nav--item__langugage{
        background-image: url('../assets/lang_se.png');
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 20px;
        background-position: 0px 40%;
        &::after{
          content: "";
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 5px solid #000;
          margin-top: 7px;
          margin-left: 5px;
          position: absolute;
        }
      }
      &.social{
        padding: 0 6em;
      }
      .nav--item__social {
        background-image: url('../assets/social_icons.png');
        background-position: left center;
        background-repeat: no-repeat;
        width: 37px;
        height: 35px;
        background-size:  135px 35px;
        background-position: 0px 0px;
        text-indent: -999em;
        &.pi {
          background-position: -49px 0px;
        }
        &.tw {
          background-position: -99px 0px;
        }
      }
    }

  }
  li.navigation--colophon ul{
    flex-flow: column;
    text-align: center;
    li{
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.125em;
      font-size: 90%;
      line-height: 185%;
    }
  }

}

#feed {
  margin-top: 6em;
}
ul.products {
  display: flex;
  flex-wrap: wrap;
  max-width:100%;
  padding: 0 .5em;
li {
  list-style: none;
  width: 100%;
  margin: 1em .5em;
  padding: 0;
  text-align: center;
  font-size: 1em;
  line-height: 125%;

    figure {
      padding: 0;
      margin: 0;
      &.top-feature{
        margin: 0 -1em;

        & + figcaption{
          margin-bottom: 1em;
        }
      }
    }

    figcaption {
      font-size: 1.25em;
      font-family: $font-family_headings;
      font-weight: 700;
      margin: .75em 0 .25em;
    }

    .price{
      font-family: $font-family_headings;
      font-weight: 500;
      text-align: left;
      font-size: 1em;
      text-transform: uppercase;

      span{
        &::before {
          content: "/";
          padding: 0 .35em;
        }
      }
    }

    &:nth-child(n+5){
    width: calc(50% - 1em);
    font-size: 80%;

      figcaption{
        text-align: left;
      }
    }


  }
}

a{
  &.button--main{
    padding: .75em 1.25em;
    font-size: 90%;
    text-transform: uppercase;
    letter-spacing: .125em;

    background-color: $color--header--bg__active;
    color: $color--header--bg;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
  }
}



li, ul, li ul, ul ul {
  list-style-type:none;
}

  form#signup__form{
    display: flex;
    align-items: stretch;
    margin: 1em;
    input.email-signup{
      border:0;
      line-height:22px;
      padding:.25em;
      width:100%;
      padding: .2em 1em;
      border: 2px solid $color--header--bg__active;
      font-family: serif;
      min-width: 190px;
      line-height: 28px;

    }
    input.submit{
      background-color:$color--header--bg__active;
      color: $color--header--bg;
      display: inline;
      margin: 0; padding: 0;
      border: 0;
      border-radius: 0;
      padding: .6em 1em;
      text-transform: uppercase;
      letter-spacing: .125em;
      font-size: 95%;
    }
  }
